:root {
  --color-basic-1: #ffffff;
  --color-basic-2: #fdfdfd;
  --color-basic-3: #f7f7f7;
  --color-basic-4: #f2f2f2;
  --color-basic-5: #e0e0e0;
  --color-basic-6: #cbcbcb;
  --color-basic-7: #a1a1a1;
  --color-basic-8: #777777;
  --color-basic-9: #666666;
  --color-basic-10: #4d4d4d;
  --color-basic-11: #474747;
  --color-basic-12: #3f3f3f;
  --color-basic-13: #2e2e2e;
  --color-blue-50: #e6f0fe;
  --color-blue-100: #b0d0fa;
  --color-blue-200: #8abaf8;
  --color-blue-300: #549af5;
  --color-blue-400: #3386f3;
  --color-blue-500: #0068f0;
  --color-blue-600: #005fda;
  --color-blue-700: #004aaa;
  --color-blue-800: #003984;
  --color-blue-900: #002c65;
  --color-green-50: #eaf9ef;
  --color-green-100: #bceccf;
  --color-green-200: #9ce3b7;
  --color-green-300: #6fd796;
  --color-green-400: #53cf82;
  --color-green-500: #28c363;
  --color-green-600: #24b15a;
  --color-green-700: #1c8a46;
  --color-green-800: #166b36;
  --color-green-900: #11522a;
  --color-red-50: #f9eaf3;
  --color-red-100: #ecbcdb;
  --color-red-200: #e39cc9;
  --color-red-300: #d76fb1;
  --color-red-400: #cf53a1;
  --color-red-500: #c3288a;
  --color-red-600: #b1247e;
  --color-red-700: #8a1c62;
  --color-red-800: #6b164c;
  --color-red-900: #52113a;
}
